<div class="top">
  <h1>Travel Diary</h1>
  <p>Write your travel diary and share</p>
  <div class="omniauth-button">
    Facebookログイン(Todo)
  </div>
  <%= link_to "mail signup", new_user_registration_path %>
</div>
